@import "tailwindcss";
@source "../../../../packages/auth/src";
@source "../../../../packages/features/onboarding-forms/src";
@source "../../../../packages/features/platform-configuration/src";
@source "../../../../packages/features/platform-attributes/src";
@source "../../../../packages/features/platform-marketplace-static/src";
@source "../../../../packages/features/attributes/src";
@source "../../../../packages/features/enterprise-analytics/src";
@source "../../../../packages/features/enterprise-dashboard/src";
@source "../../../../packages/features/enterprise-events/src";
@source "../../../../packages/features/enterprise-notifications/src";
@source "../../../../packages/features/enterprise-profile/src";
@source "../../../../packages/features/enterprise-settings/src";
@source "../../../../packages/features/enterprise-trainings/src";
@source "../../../../packages/features/enterprises/src";
@source "../../../../packages/features/messaging/src";
@source "../../../../packages/features/products/src";
@source "../../../../packages/features/services/src";
@source "../../../../packages/platform-layout/src";
@source "../../../../packages/ui/src";
:root {
  --background: #ffffff;
  --foreground: #06201c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: #06201c;
  font-family: Arial, Helvetica, sans-serif;
}
